<?xml version="1.0" encoding="utf-8"?>
<notificationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.0.7323.0">
	<profiles>
		<add defaultSenderEmailAddress="sitefinitytestmail@gmail.com" defaultSenderName="Sitefinity Admin" host="smtp.gmail.com" port="587" useAuthentication="True" username="sitefinitytestmail@gmail.com" password="[sf-scrt-rslvr=Encrypt]2P+lDK8tc+QT2vqBk+UQHjZ2qFaBKdpgtE35P9LLV2Hd08mstO1RxaNz9Dmt4RK6IAAAAA==" useSSL="True" profileName="Default" config:flags="1" />
	</profiles>
</notificationsConfig>